**/node_modules
**/debug
**/dist
**/storybook-dist

**/.DS_Store
**/.env
**/.log
**/.config

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/pnpm-error.log*
**/.jest-*
**/jest/coverage
**/test-reports

**/.coverage
**/coverage

**/.eslintcache

!**/**/package-lock.json
